**/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Script cache
**/__pycache__

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/scripts
!.yarn/sdks
!.yarn/versions

build/
dist/
.turbo
