{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "plugins": ["import"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "import/no-anonymous-default-export": "warn",
    "semi": "warn",
    "no-unused-vars": "warn"
  }
}
